<div class="container">
    <div class="content">
        <div class="cover centered">
            <div>
                <i class="white ion-android-done-all xl"></i>
                <h3 class="white">Hello, Honey, I'm home</h3>
            </div>
        </div>
    </div>
    <div class="aside">
        <div class="menu lg centered">
            <div class="menu__item">
                <div class="title">
                    <span class="white lg">Restore via Email</span>
                </div>
                <div class="pad-form">
                    <div class="input top-md" ng-class="{ isEmpty : email }">
                        <input autocomplete="off" ng-model="email" type="text" required>
                        <span class="placeholder">Email</span>
                    </div>
                    <div class="top-md">
                        <a class="link" href="#/login">Restore</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>