<div class="container">
    <div class="content">
        <div class="cover centered">
            <div>
                <i class="white ion-android-done-all xl"></i>
                <h3 class="white">Hello, Honey, I'm home</h3>
            </div>
        </div>
    </div>
    <div class="aside">
        <div class="menu lg centered">
            <div class="menu__item">
                <div class="title">
                    <span class="white lg">Sign In</span>
                </div>
                <div class="pad-form">
                    <form class="form" ng-submit="login.login()">
                        <div class="input top-md" ng-class="{ isEmpty : email }">
                            <input autocomplete="off" ng-model="email" type="text" required>
                            <span class="placeholder">Email</span>
                        </div>
                        <div class="input top-md" ng-class="{ isEmpty : password }">
                            <input autocomplete="off" ng-model="password" type="password" required>
                            <span class="placeholder">Password</span>
                            <a class="link" href="#/forgot">Forgot?</a>
                        </div>
                        <button type='submit' class="btn round lg fixed alt">
                            <i class="ion-android-done"></i>
                        </button>
                    </form>
                    <div class="top-md">
                        <a class="link" href="#/signup">Create an account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>