<div class="container">
    <div class="content">
        <div class="cover centered">
            <div>
                <i class="white ion-android-done-all xl"></i>
                <h3 ng-if="signup.invite" class="white">{{signup.invite.title}}</h3>
                <h3 ng-if="!signup.invite" class="white">Hello, Honey, I'm home</h3>
            </div>
        </div>
    </div>
    <div class="aside">
        <div class="menu lg centered">
            <div class="menu__item">
                <div class="title">
                    <span class="white lg">Sign Up</span>
                </div>
                <div class="pad-form">
                    <form ng-submit="signup.signup()" class="form">
                        <div class="input top-md" ng-class="{ isEmpty : signup.name }">
                            <input autocomplete="off" ng-model="signup.name" type="text" required>
                            <span class="placeholder">Name</span>
                        </div>
                        <div class="input top-md" ng-class="{ isEmpty : signup.email }">
                            <input autocomplete="off" ng-model="signup.email" type="text" required>
                            <span class="placeholder">Email</span>
                        </div>
                        <div class="input top-md" ng-class="{ isEmpty : signup.password }">
                            <input autocomplete="off" ng-model="signup.password" type="password" required>
                            <span class="placeholder">Password</span>
                        </div>
                        <div class="input top-md" ng-class="{ isEmpty : signup.confirmPassword }">
                            <input autocomplete="off" ng-model="signup.confirmPassword" type="password" required>
                            <span class="placeholder">Confirm password</span>
                        </div>
                        <button type="submit" class="btn round lg fixed alt">
                            <i class="ion-android-done"></i>
                        </button>
                    </form>
                    <div class="top-md">
                        <a class="link" href="#/login">Have account?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>