<div class="menu">
    <div class='scrollbox' mb-scrollbar>
        <div class="menu__item">
            <div class="menu__user" ng-click="menu.actions.Profile.view()">
                <img class="left" ng-src="{{menu.todo.user.img}}">
                <span class="white left left-md">{{menu.todo.user.name}}</span>
                <i class="clearfix"></i>
            </div>
        </div>
        <div class="menu__item">
            <div class="title">
                <span class="left">Projects</span>
                <button class="btn white right link round" ng-click="menu.actions.Project.create()"><i class="ion-android-add"></i></button>
                <i class="clearfix"></i>
            </div>
            <ul class="menu__options">
                <li ng-class="{active : project.selected}" ng-click="menu.selectProject(project)" ng-repeat="project in menu.todo.projects">
                    <span class="left">{{project.title}}
                    <i ng-if="project.icon" class="left-xs gray {{project.icon}}"></i>                    
                </span>
                    <span class="right">{{project.count}}</span>
                    <span ng-if="project.isNew" class="right label right-xs">NEW</span>
                    <i class="clearfix"></i>
                </li>
            </ul>
        </div>
        <div class="menu__item" ng-if="menu.todo.priorities">
            <div class="title">
                <span class="left">Priority</span>
                <i class="clearfix"></i>
            </div>
            <ul class="menu__options priorities">
                <li ng-class="{active : priority.selected}" ng-click='menu.selectPriority(priority)' ng-repeat="priority in menu.todo.priorities">
                    <span class="left"><i class="priority {{priority.title.toLowerCase()}}"></i>
                    {{priority.title}}</span>
                    <i class="clearfix"></i>
                </li>
            </ul>
        </div>
        <div class="menu__item" ng-if="menu.todo.selectedProject">
            <div class="title">
                <span class="left">Project Tags</span>
                <button class="btn white right link round" ng-click="menu.actions.Project.tags()"><i class="ion-android-create"></i></button>
                <i class="clearfix"></i>
            </div>
            <ul class="menu__options tags">
                <li ng-class="{active : priority.selected}" ng-repeat="tag in menu.todo.selectedProject.tags" ng-click="menu.todo.selectTag(tag)">
                    <span class="left tag" style="background-color: {{tag.color}}">{{tag.title}}</span>
                    <i class="clearfix"></i>
                </li>
            </ul>
        </div>
    </div>
    <div class="menu__footer">
        <a href="#/login" class="btn white left">Log Out</a>
    </div>
</div>