.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.date-picker-date-time {
  position: absolute;
}
.date-range .date-picker-date-time {
  position: inherit;
}
[date-picker-wrapper] {
  position: absolute;
  min-width: 220px;
  z-index: 10;
  display: block;
  font-size: 14px;
}
[date-time-append] [date-picker-wrapper] [date-picker] {
  margin-top: -30px;
}
[date-time-append] [date-picker] {
  position: relative;
  margin-right: -1000px;
  margin-bottom: -1000px;
}
[date-range] [date-picker] .after.before {
  color: #ffffff;
  background-color: red;
}
[date-range] [date-picker] .after.before:hover,
[date-range] [date-picker] .after.before:active,
[date-range] [date-picker] .after.before.active,
[date-range] [date-picker] .after.before.disabled,
[date-range] [date-picker] .after.before[disabled] {
  color: #ffffff;
  background-color: red
}
[date-range] [date-picker] .after.before:active,
[date-range] [date-picker] .after.before.active {
  background-color: transparent;
  opacity: 0.5;
}
[date-picker].hidden {
  display: none;
}
[date-picker] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  background-color: transparent;
  /* GENERAL */
  padding: 0px;
  color: rgb(189, 189, 189);
  /* SPECIFIC */
}
[date-picker] table {
  font-weight: 300;
  width: 100%;
  margin: 0;
}
[date-picker] td,
[date-picker] th {
  padding: 0px 0px;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 12px;
  font-weight: 300;
  border: none;
}
[date-picker] .switch {
  width: 145px;
}
[date-picker] span {
  display: block;
  width: 23%;
  height: 30px;
  line-height: 30px;
  float: left;
  margin: 1%;
  cursor: pointer;
}
[date-picker] span:hover {
  background: transparent;
  /*opacity: 0.5;*/
}
[date-picker] span.disabled,
[date-picker] span.disabled:hover {
  background: none;
  color: #fff;
  cursor: default;
}
[date-picker] .active,
[date-picker] .now {
  color: #ffffff;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-image: url(assets/img/icons/date-purple.png);
}
[date-picker] .active:hover,
[date-picker] .now:hover,
[date-picker] .active:active,
[date-picker] .now:active,
[date-picker] .active.active,
[date-picker] .now.active,
[date-picker] .active.disabled,
[date-picker] .now.disabled,
[date-picker] .active[disabled],
[date-picker] .now[disabled] {
  color: #ffffff;
  background-position: center center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-image: url(assets/img/icons/date-purple.png);
}
[date-picker] .active:active,
[date-picker] .now:active,
[date-picker] .active.active,
[date-picker] .now.active {
  background-color: #003399 \9;
}
[date-picker] .now {
  position: relative;
  background-position: center center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-image: url(assets/img/icons/date-gray.png);
}
[date-picker] .now:hover,
[date-picker] .now:active,
[date-picker] .now.active,
[date-picker] .now.disabled,
[date-picker] .now[disabled] {
  background-color: transparent;;
}
[date-picker] .now:active,
[date-picker] .now.active {
  background-color: transparent;;
}
[date-picker] .disabled {
  background: none;
  background-color: transparent !important;
  opacity: 0.2;
  cursor: default;
}

.month-ui:hover {
  color: #fff;
  width: auto;
  background-color: #fff;
  background-image: none !important;
}

[date-picker] [ng-switch-when="year"] span,
[date-picker] [ng-switch-when="month"] span,
[date-picker] [ng-switch-when="minutes"] span {
  height: 54px;
  line-height: 54px;
}
[date-picker] [ng-switch-when="date"] td {
  padding: 0;
}
[date-picker] [ng-switch-when="date"] span {
  width: 100%;
  height: 30px;
  line-height: 30px;
}
[date-picker] th:hover,
[date-picker] [ng-switch-when="date"] td span:hover {
  background-position: center center;
  background-size: 30px 30px;
  background-repeat: no-repeat;
  color: rgb(41, 44, 51);
  background-image: url(assets/img/icons/date-white.png);
  cursor: pointer;
}

th:hover {
  background-image: none;
}