<div class="container" ng-click="actions.close()">
    <div class="aside">
        <aside-menu></aside-menu>
    </div>
    <div class="content">
        <project></project>
    </div>
</div>
<actions>
</actions>