<div class="actions__header">
    <span>Create new project</span>
</div>
<div class="actions__menu bottom-lg top-md">
    <div class="input top-md" ng-class="{ isEmpty : project.title }">
        <span class="placeholder">Title</span>
        <input required type="text" autocomplete="off" ng-model="project.title">
    </div>
    <span class="action__title top-md">Members</span>
    <hr>
    <div class="members" mb-scrollbar>
        <div class="member" ng-class="{selected : member.isSelected}" ng-click="project.toggle(member)" ng-repeat="member in project.members">
            <img class="member-img" ng-src={{member.img}}>
            <span>{{member.name}}</span>
            <i class="selector ion-android-checkmark-circle remove"></i>
            <i class="selector ion-android-add add"></i>
            <i class="clearfix"></i>
        </div>
    </div>
    <hr>
    <div class="input top-md" ng-class="{ isEmpty : project.invite }">
        <span class="placeholder">Invite members</span>
        <input required type="text" autocomplete="off" ng-model="project.invite">
    </div>
</div>
<button ng-click="project.save()" class="btn round lg fixed alt">
        <i class="ion-android-done"></i>
</button>