<div class="actions__header">
    <span>Edit project tags</span>
</div>
<div class="actions__menu bottom-lg top-md">
    <div ng-repeat="tag in tags.tags" class="top-md tag-line">
        <div class="left-70 input">
            <input placeholder="Title" type="text" ng-model="tag.title">
        </div>
        <div class="right-30 input">
            <div class="color"style="background-color : {{tag.color}}"></div>
            <input type="text" placeholder="Color" ng-model="tag.color">
        </div>
        <i ng-click="tags.deleteTag(tag)" class="ion-ios-close-empty tag-remove"></i>
        <i class="clearfix"></i>
    </div>
    <button class="btn btn-block top-md" ng-click="tags.createTag()">Add one more</button>    
</div>
<button ng-click="tags.save()" class="btn round lg fixed alt">
        <i class="ion-android-done"></i>
</button>