<div class="actions__header">
    <span>Members of the project</span>
</div>
<div class="actions__menu bottom-lg top-md">
    <span class="action__title top-md">Members</span>
    <hr>
    <div class="members scroll-off">
        <div class="member" ng-repeat="member in members.members">
            <img class="member-img" ng-src={{member.img}}>
            <span>{{member.name}}</span>
            <i class="clearfix"></i>
        </div>
    </div>
    <hr>
</div>