.actions {
    z-index: 900;
    box-shadow : 0px 0px 0px 0px rgba(0,0,0, 0.2);
    position: fixed;
    transition: all 0.3s;
    transform: translateX(500px);
    right: 0px;
    top: 0px;
    height: 100%;
    width: 500px;
}

.actions > .menu {
    width: 100%;
    padding-bottom: 32px;
}

.actions.active {
    box-shadow : -8px 0px 15px 0px rgba(0,0,0, 0.2);
    transform: translateX(0px) !important;
}

.actions__header {
    padding-top: 10px;
    font-weight: 500;
    color: #fff;
    font-size: 17px;
}

.actions__menu {
    padding: 0 50px;
}

.left-70 {
    float: left;
    width: 63%;
}

.right-30 {
    padding-left: 20px;
    float: left;
    width: 37%;
    position: relative;
}

.right-30 > input {
    padding-right: 32px;
}

.right-30 > .color {
    position: absolute;
    width: 16px;
    height: 16px;
    right: 6px;
    bottom: 12px;
    border-radius: 3px;

}

.tag-line { 
    position: relative;
}

.tag-remove {
    cursor: pointer;
    position: absolute;
    right: -30px;
    bottom: 0px;
    font-size: 40px;
    line-height: 38px;
    color: rgb(182, 182, 182);
}

.members {
    height: 250px;
    overflow: hidden;
}

.members.scroll-off {
    height: auto;
}

.member {
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    position: relative;
}

.members > .header {
    text-align: left;
    color: #fff;
}

.member > img {
    display :block;
            float: left;
            height: 40px;
            width: 40px;
            border-radius: 40px;
}
.member > span {
                line-height: 40px;
            color: #fff;
            float: left;
            margin-left: 16px;
}

.members .ngscroll-scrollbar-container {
    right: 0px !important;
}

.member.selected > .add {
    display: none;
}
.member.selected > .remove {
    display: block;
}

.member > .remove {
    display: none;
}

.member > .selector.remove {
    color: #fff;
}

.member > .selector.add {
    color: rgb(182, 182, 182);
}

.member > .selector {
    right: 40px;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    font-size: 30px;
    line-height: 36px;
    color: rgb(182, 182, 182);
}

.action__title {
    padding-left: 8px;
    padding-right: 8px;
    width: 100%;
    text-align: left;
    color: #fff;
    display: inline-block;
}

.description {
    text-align: justify;
    font-size: 12px;
}

.member.wide {
    padding-left: 0px;
    padding-right: 0px;
}