.avatar {
    display: inline-block;
    border-radius: 100%;
    .sm {
        width: 25px;
        height: 25x;
    }
    .md {
        width: 35px;
        height: 35px;
    }
    .lg {
        width: 60px;
        height: 60px;
    }
    .stripe {
        padding: 2px;
        border: 1px solid #fff;
    }
}