.btn {
    cursor: pointer;
    transition: all 0.3s;
    cursor: pointer0;
    appearance: none;
    box-shadow: none;
    outline: none;
    background-color: transparent;
    border: none;
    padding: 0px;
    text-decoration: none;
}

.btn.white {
    color: #fff;
}

.btn.round {
    position: relative;
    right: -6px;
    width: 22px;
    height: 22px;
    border-radius: 22px;
}

.btn.round.lg.fixed {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 30px;
    border-radius: 60px;
    color: #fff;
    background-color: #6B6B9A;
}

.btn.round.md {
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 30px !important;
    margin-top: -4px;
    border-radius: 30px;
}

.btn.round:hover {
    box-shadow: 0px 0px 0px 3px #4BB14F;
}

.btn.round.lg:hover {
    transform: scale(1.15);
    box-shadow: none;    
}

.btn.alt {
    background-color: rgb(107, 107, 153);
}

.esc-btn {
    position: absolute;
    left: 15px;
    top: 25px;
    background-image: url(/assets/img/icons/esc.png);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 15px;
    height: 25px;
    z-index: 900;
    cursor: pointer;
}

.btn-block {
    width: 100%;
    line-height: 40px;
    text-align: center;
    border-radius: 3px;
    color: #fff;
    background-color: rgb(81, 85, 94);
}