.tag {
    display: inline-block;
    padding: 6px 12px;
    border-radius: 2px;
    cursor: pointer;
    transition: box-shadow 0.3s;
    &:hover {
        box-shadow: inset 0px 0px 0px 100px rgba(0,0,0,0.25);
    }
    &.sm {
        font-size: 12px;
        padding: 2px 12px;
    }
}

.label {
    display: inline-block;
    line-height: 20px;
    margin-top: 1px;
    padding: 0 8px;
    background-color: #FF561C;
    color: #fff;
    border-radius: 2px;
    font-size: 12px;
}

.label.left {
    margin-right: 10px;
}

hr {
    border: 0px;
    border-bottom: 1px solid rgba(155,155,155,0.1);
}

.cover {
    width: 100%;
    height: 100%;
    background-image: url(assets/img/bg.jpg);
    background-size: cover;
    background-position: center center;
}