.input, .select {
    position: relative;
    & > input, select {
        background-color: transparent;
        color: #fff;
        border: 0px;
        outline: 0px;
        box-shadow: 0px;
        border-bottom: 2px solid rgb(191,191,191);
        padding: 8px;
        width: 100%;
    }
    & > select {
        border: 0px;
        box-shadow: 0px;
        border-bottom: 2px solid rgb(191,191,191);
        -webkit-appearance:none;
        color: rgb(191,191,191);
        outline: none;
    }
    & > .link {
        position: absolute;
        right: 8px;
        bottom: 8px;
        line-height: 22px;
        box-shadow: none;
        color: rgb(136,136,136);
    }
    .placeholder {
        transition: all 0.1s;
        position: absolute;
        left: 8px;
        pointer-events: none;
        bottom: 8px;
        line-height: 22px;
        color: rgb(246,246,246);
    }
    &.isEmpty > .placeholder {
        bottom: 30px;
        color: rgb(191,191,191);
        font-size: 10px;
    }
}

.pad-form {
    padding-left: 50px;
    padding-right: 50px;
}

label.file {
    cursor: pointer;
    display: block;
    width: 340px;
    height: 340px;
    position: relative;
    & > img {
        width: 100%;
        height: 100%;
    }
    & > .file-icon {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -20px;
        margin-top: -20px;
    }
}
input.file {
    display: none;
}