html, body {
  width: 100%;
  height: 100%;
}

html, body {
    overflow: hidden;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: stretch;
  align-items: stretch;
    & > * {
      position: relative;
      flex: 1;
      align-self: auto;
      &.aside {
        flex: 0 0 auto; 
      }
      &.content {
        flex-grow: 2;
      }
    }
}