.priority {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: transparent;
    border-radius: 12px;
    border-width: 4px;
    border-style: solid;
    margin-right: 10px;
    transition: all 0.1s;
}

.priority.red {
     border-color: #DE5B4E;
}

.priority.orange {
     border-color: #E7A94F;
}
.priority.yellow {
     border-color: #FFE967;
}
.priority.white {
     border-color: #fff;
}

.icon {
    margin-left: 6px;
    margin-right: 6px;
}