@menu_width : 340px;
@menu_width_lg : 500px;
@menu_height: 100%;
@menu_padding_v: 20px;
@menu_padding_h: 30px;
@menu_bg: rgb(41, 44, 51);
@menu_color_primary: #b2b7cb;
@menu_color_secondary: #6b6b99;

.menu {
    position: relative;
    height: @menu_height;
    width: @menu_width;
    background-color: @menu_bg;
    padding: @menu_padding_v @menu_padding_h;
}

.menu.lg {
    width: @menu_width_lg;
}

.menu__item {
    margin-bottom: @menu_padding_h/2;
    width: 100%;
    &.pad {
        padding: @menu_padding_h;
    }
    & > .title {
        color: @menu_color_primary;
        padding: @menu_padding_h/2;
        & > span {
            font-size: 14px;
        }
    }
}

.menu__item p {
    font-size: 13px;
    text-align: justify;
}

.menu__user {
    cursor: pointer;
    padding: @menu_padding_h/3 @menu_padding_h/2;
    line-height: 60px;
    & >  img {
        border-radius : 60px;
        height: auto;
        width: 60px;
        padding: 4px;
        box-shadow: 0px 0px 0px 1px #fff;
    }
    &.sm {
        line-height: 40px;
        padding: 0px;
        font-size: 14px;
        & > img {
            width: 40px;
            height: 40px;
            padding: 0px;
            box-shadow: none;            
        }   
    }
}


.menu__options {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    & > li {
        margin-bottom:  @menu_padding_v/5;
        transition: background-color 0.3s;
        color: #fff;
        padding: @menu_padding_h/3 @menu_padding_h/2;
        border-radius: 4px;
        cursor: pointer;
        &:hover, &.active {
            background-color: @menu_color_secondary;
        }
    }
}

.menu__options.tags > li {
    color: #fff;
    padding: 0 @menu_padding_h/2 @menu_padding_v/2 ;
    border-radius: 4px;
    cursor: default;
    &:first-child {
        padding-top: @menu_padding_v/2 ;    
    }
    &:hover {
        background-color: transparent;
    }
}

.menu__options.priorities > li {
    &:hover, &.active {
        .priority {
            border-width: 6px;
            transform: scale(1.4);
        }
    }
}

.menu {
    padding-bottom: 62px;
}

.menu__footer {
    background-color: @menu_bg;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding: @menu_padding_v (@menu_padding_h + @menu_padding_h/2);
}
