@project_width: 650px;
@project_padding: 60px;
@project_bg: #F7F7F7;
@project_color_title: #B4BCCC; 

.content {
    background-color: @project_bg;
    overflow: hidden;
}

.project {
    margin: 0px auto;
    width: @project_width;
    height: 100%;
    padding: @project_padding 0;
}

.day {
    & + .day {
        margin-top: 10px;
    }
    .day__title {
        text-align: left;
        padding: 8px;
        color: @project_color_title;
    }
    .day__tasks {
        box-shadow: 4px 4px 10px 3px rgba(190,190,190,0.4);
        border-radius: 8px;
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        & > li:first-child {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        & > li:last-child {
            border-bottom-right-radius: 8px;
            border-bottom-left-radius: 8px;
            &:after {
                display: none;
            }
        }
        & > li:after {
            display: block;
            position: absolute;
            content: '';
            width: 86%;
            height: 2px;
            left: 7%;
            bottom: -1px;
            background-color: #EBEBEB;
        }
        & > li {
            padding-right: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
            min-height: 60px;
            background-color: #fff;
            position: relative;
            border-left-width: 8px;
            border-left-style: solid;
            border-left-color: #fff;
            &.red {
                border-left-color: #DE5B4E;
            }
            &.orange {
                border-left-color: #E7A94F;
            }
            &.yellow {
                border-left-color: #FFE967;
            }
            &.white {
                border-left-color: #fff;
            }
            &.new:before {
                content: 'NEW';
                display: block;
                position: absolute;
                left: -70px;
                top: 20px;
                line-height: 20px;
                padding: 0 8px;
                background-color: #FF561C;
                color: #fff;
                border-radius: 2px;
                font-size: 12px;
            }
        }
    }
}


.task__title {
    float: left;
    display: inline-block;
    padding-left: 15px;
    font-size: 14px;
    border-left: 2px solid #EBEBEB;
    line-height: 40px;
    font-weight: 800;
    cursor: pointer;
}

.task__cb {
    float: left;
    display: inline-block;
    cursor: pointer;
    & > .indicator {
        transition: all 0.3s;
        margin-top: 10px;
        margin-left: 25px;
        margin-right: 25px;
        width: 20px;
        height: 20px;
        border: 4px solid #BEBEBE;
        border-radius: 20px;display: inline-block;
        &:hover {
            transform: scale(1.3);
            border-width: 2px;
        }
    }
    & > input {
        display: none;
        &:checked + .indicator {
            border-width: 2px;
            border-color: #4BB14F;;
            background-color: #4BB14F;;
        }
    }
}

.avatar.sm {
    margin-right: 8px;
    float: right;
    border-radius: 40px;
    width: 40px;
    height: 40px;
}



.day__tasks > li {
    transition: all 0.3s;
    &.inFilter {
        opacity: 0.4;
    }
}

.container {
    min-width: 960px;
}