.search-box {
    z-index: 500;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    border-bottom: 2px solid rgb(189, 189, 189);
    background-image: url(/assets/img/icons/search.png);
    background-position: 20px center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding-left: 60px;
    padding-right: 60px;
    & > input {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 50px;
        padding: 0px;
        line-height: 50px;
        padding-left: 60px;
        padding-right: 20px;
        border: 0px;
        background-color: transparent;
        outline: 0px;
        box-shadow: none;
        color: rgb(171,189,203);
    }
}

.search-box > .btn {
    float: right;
    position: relative;
    top: 9px;
    right: 0px;
    margin-right: 8px;
    width: 32px;
    height: 32px;
    background-color: #4BB14F;
    color: #fff;
    font-size: 16px;
    line-height: 32px;
    &.alt {
        position: absolute;
        right: 20px;
        top: 9px;
        font-size: 30px;
        background-color: transparent;
        color: rgb(171,189,203);
    }
}

.search-box > .member-image {
    z-index: 600;
    top: 9px;
    width: 32px;
    height: 32px;
    margin-right: 8px;
    float: right;
    position: relative;
    border-radius: 32px;
}

.project {
    position: relative;
}

.search-box.notPadded {
    & > .btn.alt {
        display: none;
    }
    padding-right: 20px;
}