.right {
    float: right;
}

.left {
    float: left;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.right-xs {
    margin-right: 12px;
}

.left-xs {
    margin-left: 12px;
}

.top-xs {
    margin-top: 12px;
}

.top-md {
    margin-top: 20px;
}

.right-md {
    margin-right: 12px;
}

.left-md {
    margin-left: 12px;
}

.gray {
    color: #50545E;
}

.white {
    color: #fff;
}

.bold {
    font-weight: 700;
}

.scrollbox {
    width: 100%;
    height: 100%;
}

.padbox {
    padding-left: 60px;
    padding-right: 60px;
}

.ngscroll-scrollbar-container {
    right: -20px !important;
}

span.lg {
    font-size: 24px !important;
}

.link {
    text-decoration: none;
    color: rgb(136,136,136);
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    font-size: 20px;
    font-weight: 400;
}

.xl {
    font-size: 100px;
}

.bottom-lg {
    padding-bottom: 80px !important;
}

p {
    margin-bottom: 0px;
}

.tr-1 {
    position: fixed !important;
    right: 70px !important;
    top: 30px;
}

.tr-2 {
    position: fixed !important;
    right: 30px !important;
    top: 30px;
}