<div class="actions__header">
    <span>Create new task</span>
</div>
<div class="actions__menu bottom-lg top-md">
    <div class="input top-md" ng-class="{ isEmpty : taskCreate.task.title }">
        <span class="placeholder">Title</span>
        <input required type="text" autocomplete="off" ng-model="taskCreate.task.title">
    </div>
    <div class="input top-md" ng-class="{ isEmpty : taskCreate.task.description }">
        <span class="placeholder">Description</span>
        <input required type="text" autocomplete="off" ng-model="taskCreate.task.description">
    </div>
    <div class="input top-md" ng-class="{ isEmpty : taskCreate.task.tags }">
        <span class="placeholder">Tags</span>
        <input required type="text" autocomplete="off" ng-model="taskCreate.task.tags">
    </div>
    <div class="select top-md">
        <select ng-model="taskCreate.task.priority">
            <option value="{{p.title.toLowerCase()}}" ng-repeat="p in taskCreate.todo.priorities">
                {{p.title}}
            </option>
        </select>
    </div>
    <div class="calendar top-md">
        <div format="DD.MM.YYYY" ng-model="taskCreate.task.date" ng-disabled date-picker view="date" min-view="date" max-view="date"></div>
    </div>
    <span class="action__title top-md">Assignee</span>
    <hr>
    <div class="members" mb-scrollbar>
        <div class="member" ng-class="{selected : member.isSelected}" ng-click="taskCreate.toggle(member)" ng-repeat="member in taskCreate.members">
            <img class="member-img" ng-src={{member.img}}>
            <span>{{member.name}}</span>
            <i class="selector ion-android-checkmark-circle remove"></i>
            <i class="selector ion-android-add add"></i>
            <i class="clearfix"></i>
        </div>
    </div>
    <hr>
</div>
<button ng-click="taskCreate.save()" class="btn round lg fixed alt">
        <i class="ion-android-done"></i>
</button>