<div class="actions__header">
    <span>{{taskView.task.title}}</span>
</div>
<div class="actions__menu bottom-lg top-md">
    <p class="description top-md white">{{taskView.task.description}}</p>
    <div class="top-md" ng-if="taskView.task.tags.lengt != 0">
        <span class="label left" ng-repeat="t in taskView.task.tags" style="background-color: {{taskView.getTagColor(t)}}">{{t}}</span>
        <i class="clearfix"></i>
    </div>
    <div class="member top-md wide">
        <img class="member-img" ng-src={{taskView.task.creator.img}}>
        <span>{{taskView.task.creator.name}}</span>
        <i class="clearfix"></i>
    </div>
    <span class="action__title top-md">Assignee</span>
    <hr>
    <div class="members scroll-off">
        <div class="member" ng-repeat="member in taskView.task.members">
            <img class="member-img" ng-src={{member.img}}>
            <span>{{member.name}}</span>
            <i class="clearfix"></i>
        </div>
    </div>
    <hr>
    <div class="calendar top-md">
        <div format="DD.MM.YYYY" disabled ng-model="taskView.date" ng-disabled date-picker view="date" min-view="date" max-view="date"></div>
    </div>
</div>
<button class="btn gray right link round tr-1"  ng-click="taskView.editTask()"><i class="ion-android-create"></i></button>
<button class="btn gray right link round tr-2" ng-click="taskView.deleteTask()"><i class="ion-trash-b"></i></button>