<search-box ng-if="tasks.todo.selectedProject"></search-box>
<div class="project" ng-if="tasks.todo.selectedProject">
    <div class="scrollbox" mb-scrollbar>
        <div ng-repeat='d in tasks.todo.selectedProject.tasks'>
            <div class="day">
                <div class="day__title">
                    <span>{{d.date}}</span>
                </div>
                <ul class="day__tasks">
                    <li ng-class="{new : task.isNew, inFilter : !task.inFilter }" class="{{task.priority}}" ng-repeat="task in d.tasks | priorityFilter">
                        <label class="task__cb" ng-click="tasks.removeTask(task, d)"><input type="checkbox"><i class="indicator"></i></label>
                        <span ng-click="tasks.taskView(task, d)" class="task__title">{{task.title}}</span>
                        <img class="avatar sm" ng-src="{{user.img}}" ng-repeat="user in task.members | limitTo : 5">
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <button ng-click="tasks.taskCreate()" ng-if="tasks.todo.selectedProject" class="btn round lg fixed">
    <i class="ion-android-add"></i>
    </button>
</div>