<div class="search-box" ng-class="{ notPadded : search.todo.selectedProject.members.length < 5 }">
    <input type="text" placeholder="Search">
    <img ng-src="{{member.img}}" class="member-image" ng-repeat="member in search.todo.selectedProject.members | limitTo : 4">
    <button ng-click="search.membersView()" class="btn lg round alt">
        <i class="ion-more"></i>
    </button>
    <button ng-click="search.members()" class="btn lg round">
        <i class="ion-android-person-add"></i>
    </button>
</div>