<div class="actions__header">
    <span>Profile</span>
</div>
<div class="actions__menu">
    <label class="file top-md">
        <img ng-src="{{profile.img}}">
        <input type="file" class="file">
    </label>
    <button ng-click="profile.deleteAvatar()" class="btn btn-block top-md">Delete photo</button>
</div>
<div class="actions__menu bottom-lg">
    <div class="input top-md" ng-class="{ isEmpty : profile.name }">
        <span class="placeholder">Name</span>
        <input required type="text" autocomplete="off" ng-model="profile.name">
    </div>
    <div class="input top-md" ng-class="{ isEmpty : profile.email }">
        <span class="placeholder">Email</span>
        <input required type="text" autocomplete="off" ng-model="profile.email">
    </div>
    <div class="input top-md" ng-class="{ isEmpty : profile.newPassword }">
        <span class="placeholder">New password</span>
        <input required type="password" autocomplete="off" ng-model="profile.newPassword">
    </div>
    <div class="input top-md" ng-class="{ isEmpty : profile.confirmPassword }">
        <span class="placeholder">Repeat password</span>
        <input required type="password" autocomplete="off" ng-model="profile.confirmPassword">
    </div>
</div>
<button ng-click="profile.save()" class="btn round lg fixed alt">
        <i class="ion-android-done"></i>
</button>