<div id="actions" ng-class="{ active : vm.actions.opened }" class="actions">
    <div class="esc-btn" ng-click="vm.actions.close()"></div>
    <div class="menu" mb-scrollbar>
        <div ng-switch="vm.actions.action">
            <!-- Task -->
            <div ng-switch-when="task:view">
                <task-view></task-view>
            </div>
            <div ng-switch-when="task:create">
                <task-create></task-create>
            </div>
            <div ng-switch-when="task:edit">
                <task-edit></task-edit>
            </div>
            <!-- Project -->
            <div ng-switch-when="project:create">
                <project-create></project-create>
            </div>
            <div ng-switch-when="project:tags">
                <project-tags></project-tags>
            </div>
            <div ng-switch-when="project:members">
                <project-members></project-members>
            </div>
            <div ng-switch-when="project:members:view">
                <project-members-view></project-members-view>
            </div>
            <!-- Profile -->
            <div ng-switch-when="profile:view">
                <profile-view></profile-view>
            </div>
        </div>
    </div>
</div>